body {
    background-color: whitesmoke;
    padding-bottom: 10px;
}

.avatar {
    object-fit: cover;
    object-position: center;
}

#pesquisar {
    width: calc(248px - 2rem);
}

.botaoEsquerda {
    position: absolute;
    left: .5rem;
    top: .5rem;
    display: block;
}

#sidebar a.nav-link:hover, #sidebar a.nav-link:focus {
    color: #343a40;
    text-decoration: none;
    background-color: #f8f9fa;
}

#sidebar a.nav-link.active, #sidebar a.nav-link:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #007bff;
}

.nav-pills .nav-link {
    border: 1px solid transparent;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6 !important;
}

.card-checkbox label {
    display: block;
}

.card-checkbox label.custom-control-label::before, .card-checkbox label.custom-control-label::after {
    top: .5rem !important;
    left: .5rem !important;
    z-index: 1;
}

.card-checkbox .custom-control {
    padding-left: 0;
}

.rounded-right-0 {
    border-top-right-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
}

#botaoNovoInteressado.border {
    border: 1px solid #ced4da !important;
}

.menu .nav-link.active {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.menu .nav-link:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.situacao:checked ~ .warning::before {
    background-color: #ffc107 !important;
}

.situacao:checked ~ .danger::before {
    background-color: #dc3545 !important;
}

.situacao:checked ~ .success::before {
    background-color: #28a745 !important;
}

.btn-outline-warning:hover {
    color: #fff !important;
    background-color: #ffc107;
    border-color: #ffc107;
}

@media (min-width: 769px) {
    body {
        display: flex;
    }

    #sidebar {
        margin-top: 55px;
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100vh;
        background: #fff;
        color: #fff;
        transition: all 0.3s;
    }

    #sidebar.active {
        left: 0;
    }

    #container {
        transition: all 0.3s;
    }

    #container.sidebarActive {
        margin-left: 250px;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-top: 55px;
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100vh;
        z-index: 999;
        background: #fff;
        color: #fff;
        transition: all 0.3s;
    }

    #sidebar.active {
        left: 0;
    }
}